<!doctype html>
<html ng-app="app">
<head>
    <title>AngularJS-WebApi-EF</title>
    @Styles.Render("~/content/bootstrap/base")
    @Styles.Render("~/content/bootstrap/base")
    @Styles.Render("~/content/toastr")
    @Styles.Render("~/content/css")
    @Styles.Render("~/content/angular")


</head>
<body>
    <h1>People</h1>
    <div crud-grid table='person' columns='[{"name":"Id", "class":"col-md-1", "autoincrement": "true"}, {"name":"Name"}]'></div>
    <h1>Places</h1>
    <div crud-grid table='place' columns='[{"name":"Id", "class":"col-md-1", "autoincrement": "true"}, {"name":"Name"}]'></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>



